.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.montyhall {
    color: black;
    font-size: 50px;
    padding-top: 50px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    //font-size: 60px;
    margin-top: 95px;
    margin-left: 55px;
    position: absolute;
    color: black;
    background-color: green;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}


.link:hover {
    transform: scale(1.1);
    cursor: pointer;
}